body, html {
    background: rgb(197, 200, 200);
    
}



.flex {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    background-image: url(space.webp); 
    background-size: cover;
    color: whitesmoke;
}

.flex2 {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    height = 20px;
}

.border {
    border: 2px solid black;
}

img {
    width: 20%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    display:block;
    padding: 10px;
    color: white;
    border: 0px;
    border-radius: 10px;
}

.title {
    display: flex;
    justify-content: center;
}

#flex-button {
    border: 2px solid whitesmoke;
    padding: 2px 5px;
    border-radius: 10%
}

#flex-button:hover {
    background: grey;
}

.personal-info {
    text-align: center;
}